body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #008000;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 1.5rem;
}

h1{
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    background-color: goldenrod;
    color: #008000;
    padding: 10px;
    width: 15%;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: none;
}